/* You can add global styles to this file, and also import other style files */
@import 'assets/variables';

html,
* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-gray: $bg-gray;
  --bg-dark-gray: $bg-dark-gray;
  --text-color: $text-color;
}

body {
  background: #505050;
}

#nav-bar {
  background: #323232;
  display: flex;
  justify-content: space-between;
  color: white;
  height: 40px;
  line-height: 40px;
  padding: 0 .5rem;
  border-bottom: 1px solid #5a5a5a;

  > #title {
    text-align: center;
    font-size: 1.25rem;
    flex: 1 1 auto;
    text-transform: capitalize;
    color: var(--text-color);
  }

  #back-btn,
  #add-btn {
    flex: 0 0 24px;
    filter: invert(96%) sepia(0%) saturate(9%) hue-rotate(197deg) brightness(87%) contrast(86%);
    display: flex;
    align-items: center;
  }
}